SQLAlchemy==1.4.31
pymysql==1.0.2
pydantic==1.9.0
passlib[bcrypt]==1.7.4
fastapi[all]==0.74.1
py_eureka_client==0.10.4
SQLAlchemy-Utils==0.38.2
python-dotenv==0.19.2
starlette==0.17.1
ujson==4.3.0
uvicorn==0.15.0
